In [ ]:
# Import libraries
import pandas as pd
import numpy as np

In [5]:
# Load in datasets
accessions = pd.read_excel('discussion-section/all-accn.xlsx')
localities = pd.read_excel('discussion-section/all-mesozoic.xlsx')
specimens = pd.read_excel('discussion-section/spec-meso.xlsx')

c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
specimens.head()

,SpecNo,AccNo,Formation,LocNo,Name,Field No,Taxon/Full Name,Element,Portion,Description,System/Period,Series/Epoch,Last Name,Storage/Full Name,Erathem/Era
0,21047,12.0,Hell Creek,V--1994093,Pine Cones,1993 DLL 8-9-2,Vertebrata,NaN,NaN,misc. bones and shell,Cretaceous,Upper/Late Cretaceous,Czepinski,NaN,Mesozoic
1,21048,12.0,Hell Creek,V--1994093,Pine Cones,1993 DLL 8-9-2,Pinales,NaN,NaN,cones of cf. Metasequoia,Cretaceous,Upper/Late Cretaceous,Czepinski,NaN,Mesozoic
2,6511,218.0,NaN,-I-1999007,Jurassic Ferruginous Oncoliths,NaN,Animalia,NaN,NaN,Growth of ferruginous oncoliths.,Jurassic,Middle/Mid Jurassic,Lynas,"CLXN, I",Mesozoic
3,12773,330.0,Kaiparowits,V--2008017,Tony's Microsite,2008-23,Ornithischia,NaN,NaN,NaN,Cretaceous,Upper/Late Cretaceous,Fragomeni,NaN,Mesozoic
4,12774,330.0,Kaiparowits,V--2008017,Tony's Microsite,2008-23,Hadrosauridae,NaN,NaN,NaN,Cretaceous,Upper/Late Cretaceous,Fragomeni,NaN,Mesozoic

I'm going to clean the Specimens data table first!

In [9]:
specimens = specimens.drop(columns=['Last Name', 'Storage/Full Name', 'Erathem/Era'])