In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Load in datasets
accessions = pd.read_excel('discussion-section/all-accn.xlsx')
localities = pd.read_excel('discussion-section/all-mesozoic.xlsx')
specimens = pd.read_excel('discussion-section/spec-meso.xlsx')

c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
specimens.head()

,SpecNo,AccNo,Formation,LocNo,Name,Field No,Taxon/Full Name,Element,Portion,Description,System/Period,Series/Epoch,Last Name,Storage/Full Name,Erathem/Era
0,21047,12.0,Hell Creek,V--1994093,Pine Cones,1993 DLL 8-9-2,Vertebrata,NaN,NaN,misc. bones and shell,Cretaceous,Upper/Late Cretaceous,Czepinski,NaN,Mesozoic
1,21048,12.0,Hell Creek,V--1994093,Pine Cones,1993 DLL 8-9-2,Pinales,NaN,NaN,cones of cf. Metasequoia,Cretaceous,Upper/Late Cretaceous,Czepinski,NaN,Mesozoic
2,6511,218.0,NaN,-I-1999007,Jurassic Ferruginous Oncoliths,NaN,Animalia,NaN,NaN,Growth of ferruginous oncoliths.,Jurassic,Middle/Mid Jurassic,Lynas,"CLXN, I",Mesozoic
3,12773,330.0,Kaiparowits,V--2008017,Tony's Microsite,2008-23,Ornithischia,NaN,NaN,NaN,Cretaceous,Upper/Late Cretaceous,Fragomeni,NaN,Mesozoic
4,12774,330.0,Kaiparowits,V--2008017,Tony's Microsite,2008-23,Hadrosauridae,NaN,NaN,NaN,Cretaceous,Upper/Late Cretaceous,Fragomeni,NaN,Mesozoic

I'm going to clean the Specimens data table first! 

Some of these columns I drop because the variables are presented on other datatables, in a way that makes much more sense from their relationship. For example, the "Formation" columnn will be its own table, which links with the Locality table, rather than the specimen table. Other columns contain variables that aren't useful for this project.

In [4]:
# Drop columns
specimens = specimens.drop(columns=['Last Name', 'Storage/Full Name', 'Erathem/Era', 'Formation', 'System/Period', 'Series/Epoch', 'Name'])

In [5]:
specimens.head()

,SpecNo,AccNo,LocNo,Field No,Taxon/Full Name,Element,Portion,Description
0,21047,12.0,V--1994093,1993 DLL 8-9-2,Vertebrata,NaN,NaN,misc. bones and shell
1,21048,12.0,V--1994093,1993 DLL 8-9-2,Pinales,NaN,NaN,cones of cf. Metasequoia
2,6511,218.0,-I-1999007,NaN,Animalia,NaN,NaN,Growth of ferruginous oncoliths.
3,12773,330.0,V--2008017,2008-23,Ornithischia,NaN,NaN,NaN
4,12774,330.0,V--2008017,2008-23,Hadrosauridae,NaN,NaN,NaN

In [7]:
localities.head()

,LocNo,Name,State,County,Latitude1,Longitude1,Township,Range,Section,Subdiv,...,UTM Band,UTM Easting,UTM Northing,Map,Formation,Series/Epoch,Stage/Age,System/Period,Erathem/Era,Locality Description
0,-I-2001012,Mesozoic Invertebrate Unknowns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,"""This locality is designated for Mesozoic spec..."
1,V--2009007,England Mesozoic General,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,General locality created to accommodate verteb...
2,--P2001009,Mesozoic Plant Unknowns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,"""This locality is for all Mesozoic plant speci..."
3,V--2013049,Clark Metatarsal,Utah,Garfield County,37.553286,-111.806867,37.0,1.0,32.0,NE1/4 NE1/4 NE1/4,...,NaN,0.0,0.0,NaN,Kaiparowits,NaN,NaN,Cretaceous,Mesozoic,NaN
4,V--2000007,Cretaceous Hell Creek Fm,Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Hell Creek,NaN,NaN,Cretaceous,Mesozoic,"""Locality includes all specimens which have no..."

In [6]:
localities = localities.drop(columns=['Township', 'Range', 'Section', 'Subdiv', 'UTM Band', 'UTM Easting', 'UTM Northing', 'Erathem/Era', 'Map', 'UTM Zone'])

In [ ]:
localities.head()

,LocNo,Name,State,County,Latitude1,Longitude1,Elev (ft),Datum,UTM Zone,Map,Formation,Series/Epoch,Stage/Age,System/Period,Erathem/Era,Locality Description
0,-I-2001012,Mesozoic Invertebrate Unknowns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,"""This locality is designated for Mesozoic spec..."
1,V--2009007,England Mesozoic General,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,General locality created to accommodate verteb...
2,--P2001009,Mesozoic Plant Unknowns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesozoic,"""This locality is for all Mesozoic plant speci..."
3,V--2013049,Clark Metatarsal,Utah,Garfield County,37.553286,-111.806867,NaN,NaN,NaN,NaN,Kaiparowits,NaN,NaN,Cretaceous,Mesozoic,NaN
4,V--2000007,Cretaceous Hell Creek Fm,Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hell Creek,NaN,NaN,Cretaceous,Mesozoic,"""Locality includes all specimens which have no..."